body
{
    margin: 0;
    padding: 0;
    background-image: url("scale.jpg");
    font-family: sans-serif;
    opacity: 0.9;
}

.login
{
        width: 382px;
        overflow: hidden;
        margin: auto;
        padding: 80px;
        background: #eabc45;
        border-radius: 15px ;
}

h1
{
    text-align: center;
    color: black;
    padding: 20px;
    font-size: 40px;
}

label1{
    color: black;
    font-size: 17px;
    margin-left: 20px;
    position: fixed;
    left: 37%;
    top: 32%;
}

label2{
    color: black;
    font-size: 17px;
    margin-left: 20px;
    position: fixed;
    left: 37%;
    top: 46%;
}

#Uname{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding-left: 8px;
    position: fixed;
    left:38%;
    top:36%;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 20px;
    padding-left: 8px;
    position:fixed;
    left:38%;
    top:50%;
}
#log{
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: black;
    position:fixed;
    left:43%;
    top:58%;
}

span{
    color: white;
    font-size: 17px;
}
a{
    float: right;
    background-color: white;
}